<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-smoffset-1 col-md-offset-2">
    <form (ngSubmit)="onLogin()" #f="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" id="username" name="username" ngModel class="form-control" required #username="ngModel">
        <span class="help-block" *ngIf="!username.valid && username.touched">Please enter a valid username</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" required #password="ngModel">
        <span class="help-block" *ngIf="!password.valid && password.touched">Please enter your password</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign in</button>

      <p><br/>Don't have an account yet? Please <a routerLink="/register"> sign up</a>.</p>
    </form>
  </div>
</div>


