
<div class="thumbnail clearfix message card">
  <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{message.user}} <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{message.timeStamp}}</p>

  <h4 *ngIf="!editMessage" [ngClass]="deleteClassValue">{{message.content}}</h4>


  <form *ngIf="editMessage" class="col-sm-12" #f="ngForm">
    <div class="form-group">
      <input type="text" id="messageEditContent" name="messageEditContent" ngModel class="form-control" required #messageEditContent="ngModel" placeholder="{{message.content}}">
    </div>
    <div class="pull-right">
      <span class="glyphicon glyphicon-ok border add" style="cursor: pointer" aria-hidden="true" (click)="onEdit()"></span>
      <span class="glyphicon glyphicon-remove border delete" style="cursor: pointer"  aria-hidden="true" (click)="onEditCancel()"></span>
    </div>
  </form>

  <div class="pull-right" *ngIf="message.user === 'you'">
    <span *ngIf="!editMessage" class="glyphicon glyphicon-pencil border edit" style="cursor: pointer"  aria-hidden="true" (click)="startEdit()"></span>
    <span *ngIf="!editMessage" class="glyphicon glyphicon-remove border delete" style="cursor: pointer"  aria-hidden="true" (click)="onDelete()"></span>
  </div>
</div>

