/* You can add global styles to this file, and also import other style files */
body{
  padding-top: 70px;
  color: white;
  background-color: #081117;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.deletedMessage{
  color: red;
  font-size: small;
}

.alerttext{
  color: red;
}

.margin{
  margin: 0px 0px 15px 0px;
}

.createbox{
  margin: 15px 0px;
  padding: 10px 0px;
  background-color: #174E60;
}

.button{
  background-color: #157291;
}

.message{
  margin: 0px 0px;
  border-color: black;
  background-color: #1f2124;
}

.chat{
  border-color: black;
  background-color: #152533;
}

a.list-group-item:hover{
  background-color: #174E60;
}

h4{
  color: white;
}

h5.alertText{
  color: yellow;
}

p.list-group-item-text{
  color: #c3c3c3;
}

small{
  color: lightgray;
}

p{
  color: #a4a4a4;
}

.text-white{
  color: white;
}

.sign{
  border-color: black;
  padding: 10px 0px;
  background-color: #174E60;
}

.card:hover{
  box-shadow: 0 4px 8px 0 rgba(165, 220, 221, 0.2), 0 6px 20px 0 rgba(165, 220, 221, 0.2);

}

.btn-default{
  border-color: #251d20;
  color: white;
  background-color: #251d20;
}

.shadowUnderneathObject{
  margin: 0 0 40px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.border{
  padding: 4px 4px;
  border-style: solid;
  border-width: 1px;
}

.border.add{
  margin: 5px;
}

.border.add:hover{
  border-color: green;
  color: green;
}

.border.edit:hover{
  border-color: yellow;
  color: yellow;
}

.border.delete:hover{
  border-color: red;
  color: red;
}

.form-control{
  color: white;
  border-color: #40a0d2;
  background-color: #152533;
}
