<div class="clearfix margin createbox card">
  <form class="col-sm-12" (ngSubmit)="onCreate()" #f="ngForm">
    <div class="form-group">
      <label for="content">Create a new message</label>
      <input type="content" id="content" name="content" ngModel class="form-control" required #content="ngModel"
             placeholder="You can enter your message here">
    </div>
    <button class="btn btn-primary" style="width: 100%" type="submit" [disabled]="!f.valid">Send
    </button>
  </form>
</div>
