<a class="list-group-item clearfix chat card" style="cursor: pointer" routerLink="/chat/detail/{{chat._id}}">
  <div class="pull-left">
    <h4>{{chat.title}} <small> created by: {{chat.creator}}</small></h4>
    <p class="list-group-item-text col-12">{{chat.description}}</p>
  </div>
  <div class="pull-right" *ngIf="chat.creator === 'you'">
    <span class="glyphicon glyphicon-pencil border" aria-hidden="true"> Edit</span>
    <span class="glyphicon glyphicon-remove border" aria-hidden="true"> Delete</span>
  </div>
</a>
