<a class="list-group-item clearfix chat card" >
  <div style="cursor: pointer" routerLink="/chat/detail/{{chat._id}}">
    <h4>{{chat.title}} <small> created by: {{chat.creator}}</small></h4>
    <p class="list-group-item-text col-12">{{chat.description}}</p>
  </div>
  <div class="pull-right" *ngIf="chat.creator === 'you'">
    <span class="glyphicon glyphicon-pencil border" style="cursor: pointer"  aria-hidden="true"></span>
    <span class="glyphicon glyphicon-remove border" style="cursor: pointer" aria-hidden="true"></span>
  </div>
</a>
